[submodule "p2v3/demo-jml-juha001"]
	path = p2v3/demo-jml-juha001
	url = https://github.com/jumalauta/demo-jml-juha001.git
[submodule "p2v3/demo-jml-fallofman"]
	path = p2v3/demo-jml-fallofman
	url = https://github.com/jumalauta/demo-jml-fallofman.git
[submodule "p2v3/demo-jml-fight21xx"]
	path = p2v3/demo-jml-fight21xx
	url = https://github.com/jumalauta/demo-jml-fight21xx
[submodule "p2v3/demo-jml-hauho"]
	path = p2v3/demo-jml-hauho
	url = https://github.com/jumalauta/demo-jml-hauho
[submodule "p2v3/demo-ajna-monumentalne-zabytki-mmdxxv"]
	path = p2v3/demo-ajna-monumentalne-zabytki-mmdxxv
	url = https://github.com/mrautio/demo-ajna-monumentalne-zabytki-mmdxxv.git
[submodule "p2v3/demo-jml-auto2000"]
	path = p2v3/demo-jml-auto2000
	url = https://github.com/jumalauta/demo-jml-auto2000.git
