[submodule "p2v3/demo-jml-juha001"]
	path = p2v3/demo-jml-juha001
	url = https://github.com/jumalauta/demo-jml-juha001.git
[submodule "p2v3/demo-jml-fallofman"]
	path = p2v3/demo-jml-fallofman
	url = https://github.com/jumalauta/demo-jml-fallofman.git
[submodule "p2v3/demo-jml-fight21xx"]
	path = p2v3/demo-jml-fight21xx
	url = https://github.com/jumalauta/demo-jml-fight21xx
[submodule "p2v3/demo-jml-hauho"]
	path = p2v3/demo-jml-hauho
	url = https://github.com/jumalauta/demo-jml-hauho
[submodule "p2v3/demo-ajna-monumentalne-zabytki-mmdxxv"]
	path = p2v3/demo-ajna-monumentalne-zabytki-mmdxxv
	url = https://github.com/mrautio/demo-ajna-monumentalne-zabytki-mmdxxv.git
[submodule "p2v3/demo-jml-auto2000"]
	path = p2v3/demo-jml-auto2000
	url = https://github.com/jumalauta/demo-jml-auto2000.git
[submodule "p2v3/demo-jml-nmd"]
	path = p2v3/demo-jml-nmd
	url = https://github.com/jumalauta/demo-jml-nmd.git
[submodule "p2v3/demo-jml-lastfarjan"]
	path = p2v3/demo-jml-lastfarjan
	url = https://github.com/jumalauta/demo-jml-lastfarjan.git
[submodule "p2v3/demo-jml-armento"]
	path = p2v3/demo-jml-armento
	url = https://github.com/jumalauta/demo-jml-armento
[submodule "p2v3/demo-jml-ponr"]
	path = p2v3/demo-jml-ponr
	url = https://github.com/jumalauta/demo-jml-ponr
[submodule "p2v3/demo-jml-graffathon25"]
	path = p2v3/demo-jml-graffathon25
	url = https://github.com/jumalauta/demo-jml-graffathon25.git
[submodule "p2v3/demo-jml-helstosyn"]
	path = p2v3/demo-jml-helstosyn
	url = https://github.com/jumalauta/demo-jml-helstosyn.git
[submodule "p2v3/demo-jml-catarchy"]
	path = p2v3/demo-jml-catarchy
	url = https://github.com/jumalauta/demo-jml-catarchy.git
